<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.truck.dao.CustomerAddressMapper" >
  <resultMap id="BaseResultMap" type="com.truck.pojo.CustomerAddress" >
    <constructor >
      <idArg column="address_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="customer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="address_abbr" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="position_longitude" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="position_latitude" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    address_id, customer_id, address,address_abbr, create_time, update_time,position_longitude, position_latitude
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iel_customer_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iel_customer_address
    where address_id = #{addressId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.truck.pojo.CustomerAddress" >
    insert into iel_customer_address (address_id, customer_id, address, address_abbr,
      create_time, update_time,position_longitude, position_latitude)
    values (#{addressId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{addressAbbr},
      now(), now(),#{positionLongitude,jdbcType=DECIMAL}, #{positionLatitude,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.truck.pojo.CustomerAddress" >
    insert into iel_customer_address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="addressAbbr != null" >
        address_abbr,
      </if>
        create_time,
        update_time,
      <if test="positionLongitude != null" >
        position_longitude,
      </if>
      <if test="positionLatitude != null" >
        position_latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="addressId != null" >
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressAbbr != null" >
        #{addressAbbr,jdbcType=VARCHAR},
      </if>
      now(),
      now(),
      <if test="positionLongitude != null" >
        #{positionLongitude,jdbcType=DECIMAL},
      </if>
      <if test="positionLatitude != null" >
        #{positionLatitude,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.truck.pojo.CustomerAddress" >
    update iel_customer_address
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addressAbbr != null" >
        address_abbr = #{addressAbbr,jdbcType=VARCHAR},
      </if>
        update_time = now(),
      <if test="positionLongitude != null" >
        position_longitude=#{positionLongitude,jdbcType=DECIMAL},
      </if>
      <if test="positionLatitude != null" >
        position_latitude=#{positionLatitude,jdbcType=DECIMAL},
      </if>
    </set>
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.truck.pojo.CustomerAddress" >
    update iel_customer_address
    set customer_id = #{customerId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      address_abbr = #{addressAbbr,jdbcType=VARCHAR},
      update_time = now(),
      position_longitude=#{positionLongitude,jdbcType=DECIMAL},
      position_latitude=#{positionLatitude,jdbcType=DECIMAL}
    where address_id = #{addressId,jdbcType=INTEGER}
  </update>

  <select id="selectByCustomerId" resultMap="BaseResultMap" parameterType="map" >
    select
    <include refid="Base_Column_List" />
    from iel_customer_address
    where customer_id = #{customerId}
  </select>
</mapper>