<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.truck.dao.InventoryDetailMapper" >
  <resultMap id="BaseResultMap" type="com.truck.pojo.InventoryDetail" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="inventory_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stock_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stock_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="inventory_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id,inventory_id, stock_id, stock_num, inventory_num, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iel_inventory_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iel_inventory_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.truck.pojo.InventoryDetail" >
    insert into iel_inventory_detail (id,inventory_id, stock_id, stock_num,
      inventory_num, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{inventoryId,jdbcType=INTEGER},#{stockId,jdbcType=INTEGER}, #{stockNum,jdbcType=INTEGER},
      #{inventoryNum,jdbcType=INTEGER}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.truck.pojo.InventoryDetail" >
    insert into iel_inventory_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inventoryId != null" >
        inventory_id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="stockNum != null" >
        stock_num,
      </if>
      <if test="inventoryNum != null" >
        inventory_num,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inventoryId != null" >
        #{inventoryId,jdbcType=INTEGER},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="inventoryNum != null" >
        #{inventoryNum,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.truck.pojo.InventoryDetail" >
    update iel_inventory_detail
    <set >
      <if test="inventoryId != null" >
        inventory_id = #{inventoryId,jdbcType=INTEGER},
      </if>
      <if test="stockId != null" >
        stock_id = #{stockId,jdbcType=INTEGER},
      </if>
      <if test="stockNum != null" >
        stock_num = #{stockNum,jdbcType=INTEGER},
      </if>
      <if test="inventoryNum != null" >
        inventory_num = #{inventoryNum,jdbcType=INTEGER},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.truck.pojo.InventoryDetail" >
    update iel_inventory_detail
    set
      inventory_id = #{inventoryId,jdbcType=INTEGER},
      stock_id = #{stockId,jdbcType=INTEGER},
      stock_num = #{stockNum,jdbcType=INTEGER},
      inventory_num = #{inventoryNum,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="batchInsert" parameterType="list" >
    insert into iel_inventory_detail (inventory_id,stock_id, stock_num,
    inventory_num, create_time, update_time
    )
    values
    <foreach collection="inventoryDetailList" index="index" item="item" separator=",">
    (#{item.inventoryId,jdbcType=INTEGER},#{item.stockId,jdbcType=INTEGER}, #{item.stockNum,jdbcType=INTEGER},
    #{item.inventoryNum,jdbcType=INTEGER}, now(), now()
    )
    </foreach>
  </insert>

  <select id="selectByInventoryId" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from iel_inventory_detail
    where inventory_id = #{inventoryId}
    order by create_time desc
  </select>
</mapper>