<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.truck.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.truck.pojo.OrderDetail" >
    <constructor >
      <idArg column="order_detail_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="quantity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="product_image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="current_unit_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="shipping_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_detail_status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="define_ratio" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="services_ratio" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="distance_ratio" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="distance" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="repair_dates" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="man" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="man_contact" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dept" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="hour_km" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="repair_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="error_descs" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="maintain_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="reservation_dates" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="order_no" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    order_detail_id, user_id, order_id, product_id, product_no, product_name, quantity, 
    total_price, product_image, current_unit_price, create_time, update_time, shipping_id, 
    order_detail_status,define_ratio,services_ratio,distance_ratio,distance, repair_dates, 
    man, man_contact, dept, hour_km, repair_type, error_descs, maintain_type, reservation_dates, 
    order_no
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from truck_order_detail
    where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from truck_order_detail
    where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.truck.pojo.OrderDetail" >
    insert into truck_order_detail (order_detail_id, user_id, order_id, 
      product_id, product_no, product_name, 
      quantity, total_price, product_image, 
      current_unit_price, create_time, update_time, 
      shipping_id, order_detail_status,define_ratio,services_ratio,distance_ratio,distance, repair_dates, 
    man, man_contact, dept, hour_km, repair_type, error_descs, maintain_type, reservation_dates, 
    order_no)
    values (#{orderDetailId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{productId,jdbcType=INTEGER}, #{productNo,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, 
      #{quantity,jdbcType=INTEGER}, #{totalPrice,jdbcType=DECIMAL}, #{productImage,jdbcType=VARCHAR}, 
      #{currentUnitPrice,jdbcType=DECIMAL}, now(), now(),
      #{shippingId,jdbcType=INTEGER}, #{orderDetailStatus,jdbcType=INTEGER},#{defineRatio},#{servicesRatio},#{distanceRatio},#{distance},
      #{repairDates,jdbcType=TIMESTAMP}, #{man,jdbcType=VARCHAR}, #{manContact,jdbcType=VARCHAR}, 
      #{dept,jdbcType=VARCHAR}, #{hourKm,jdbcType=VARCHAR}, #{repairType,jdbcType=INTEGER},
      #{errorDescs,jdbcType=VARCHAR}, #{maintainType,jdbcType=INTEGER}, #{reservationDates,jdbcType=TIMESTAMP}, 
      #{orderNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.truck.pojo.OrderDetail" >
    insert into truck_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        order_detail_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productNo != null" >
        product_no,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="totalPrice != null" >
        total_price,
      </if>
      <if test="productImage != null" >
        product_image,
      </if>
      <if test="currentUnitPrice != null" >
        current_unit_price,
      </if>
        create_time,
        update_time,
      <if test="shippingId != null" >
        shipping_id,
      </if>
      <if test="orderDetailStatus != null" >
        order_detail_status,
      </if>
      <if test="defineRatio != null" >
        define_ratio,
      </if>
      <if test="servicesRatio != null" >
        services_ratio,
      </if>
      <if test="distanceRatio != null" >
        distance_ratio,
      </if>
      <if test="distance != null" >
        distance,
      </if>
      <if test="repairDates != null" >
        repair_dates,
      </if>
      <if test="man != null" >
        man,
      </if>
      <if test="manContact != null" >
        man_contact,
      </if>
      <if test="dept != null" >
        dept,
      </if>
      <if test="hourKm != null" >
        hour_km,
      </if>
      <if test="repairType != null" >
        repair_type,
      </if>
      <if test="errorDescs != null" >
        error_descs,
      </if>
      <if test="maintainType != null" >
        maintain_type,
      </if>
      <if test="reservationDates != null" >
        reservation_dates,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderDetailId != null" >
        #{orderDetailId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="productImage != null" >
        #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
      now(),
      now(),
      <if test="shippingId != null" >
        #{shippingId,jdbcType=INTEGER},
      </if>
      <if test="orderDetailStatus != null" >
        #{orderDetailStatus,jdbcType=INTEGER},
      </if>
      <if test="defineRatio != null" >
        #{defineRatio},
      </if>
      <if test="servicesRatio != null" >
        #{servicesRatio},
      </if>
      <if test="distanceRatio != null" >
        #{distanceRatio},
      </if>
      <if test="distance != null" >
        #{distance},
      </if>
      <if test="repairDates != null" >
        #{repairDates,jdbcType=TIMESTAMP},
      </if>
      <if test="man != null" >
        #{man,jdbcType=VARCHAR},
      </if>
      <if test="manContact != null" >
        #{manContact,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        #{dept,jdbcType=VARCHAR},
      </if>
      <if test="hourKm != null" >
        #{hourKm,jdbcType=VARCHAR},
      </if>
      <if test="repairType != null" >
        #{repairType,jdbcType=INTEGER},
      </if>
      <if test="errorDescs != null" >
        #{errorDescs,jdbcType=VARCHAR},
      </if>
      <if test="maintainType != null" >
        #{maintainType,jdbcType=INTEGER},
      </if>
      <if test="reservationDates != null" >
        #{reservationDates,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.truck.pojo.OrderDetail" >
    update truck_order_detail
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productNo != null" >
        product_no = #{productNo,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="totalPrice != null" >
        total_price = #{totalPrice,jdbcType=DECIMAL},
      </if>
      <if test="productImage != null" >
        product_image = #{productImage,jdbcType=VARCHAR},
      </if>
      <if test="currentUnitPrice != null" >
        current_unit_price = #{currentUnitPrice,jdbcType=DECIMAL},
      </if>
        update_time = now(),
      <if test="shippingId != null" >
        shipping_id = #{shippingId,jdbcType=INTEGER},
      </if>
      <if test="orderDetailStatus != null" >
        order_detail_status = #{orderDetailStatus,jdbcType=INTEGER},
      </if>
      <if test="defineRatio != null" >
        define_ratio=#{defineRatio},
      </if>
      <if test="servicesRatio != null" >
        services_ratio=#{servicesRatio},
      </if>
      <if test="distanceRatio != null" >
        distance_ratio=#{distanceRatio},
      </if>
      <if test="distance != null" >
        distance=#{distance},
      </if>
      <if test="repairDates != null" >
        repair_dates = #{repairDates,jdbcType=TIMESTAMP},
      </if>
      <if test="man != null" >
        man = #{man,jdbcType=VARCHAR},
      </if>
      <if test="manContact != null" >
        man_contact = #{manContact,jdbcType=VARCHAR},
      </if>
      <if test="dept != null" >
        dept = #{dept,jdbcType=VARCHAR},
      </if>
      <if test="hourKm != null" >
        hour_km = #{hourKm,jdbcType=VARCHAR},
      </if>
      <if test="repairType != null" >
        repair_type = #{repairType,jdbcType=INTEGER},
      </if>
      <if test="errorDescs != null" >
        error_descs = #{errorDescs,jdbcType=VARCHAR},
      </if>
      <if test="maintainType != null" >
        maintain_type = #{maintainType,jdbcType=INTEGER},
      </if>
      <if test="reservationDates != null" >
        reservation_dates = #{reservationDates,jdbcType=TIMESTAMP},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
    </set>
    where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.truck.pojo.OrderDetail" >
    update truck_order_detail
    set user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      product_no = #{productNo,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      total_price = #{totalPrice,jdbcType=DECIMAL},
      product_image = #{productImage,jdbcType=VARCHAR},
      current_unit_price = #{currentUnitPrice,jdbcType=DECIMAL},
      update_time = now(),
      shipping_id = #{shippingId,jdbcType=INTEGER},
      order_detail_status = #{orderDetailStatus,jdbcType=INTEGER},
      repair_dates = #{repairDates,jdbcType=TIMESTAMP},
      man = #{man,jdbcType=VARCHAR},
      man_contact = #{manContact,jdbcType=VARCHAR},
      dept = #{dept,jdbcType=VARCHAR},
      hour_km = #{hourKm,jdbcType=VARCHAR},
      repair_type = #{repairType,jdbcType=INTEGER},
      error_descs = #{errorDescs,jdbcType=VARCHAR},
      maintain_type = #{maintainType,jdbcType=INTEGER},
      reservation_dates = #{reservationDates,jdbcType=TIMESTAMP},
      order_no = #{orderNo,jdbcType=VARCHAR}
    where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
  </update>

  <insert id="batchInsert" parameterType="list">
    insert into truck_order_detail (user_id, order_id,
    product_id,  product_name,
    quantity, total_price, product_image,
    current_unit_price, create_time, update_time,shipping_id,order_detail_status,
    define_ratio,services_ratio,distance_ratio,distance,repair_dates, man, man_contact,
    dept, hour_km, repair_type,
    error_descs, maintain_type, reservation_dates,
    order_no
    )
    values
    <foreach collection="orderDetailList" index="index" item="item" separator=",">
      (
      #{item.userId},#{item.orderId},#{item.productId},#{item.productName},#{item.quantity},
      #{item.totalPrice},#{item.productImage},#{item.currentUnitPrice},now(),now(),#{item.shippingId},#{item.orderDetailStatus},
      #{item.defineRatio},#{item.servicesRatio},#{item.distanceRatio},#{item.distance}, 
      #{item.repairDates,jdbcType=TIMESTAMP}, #{item.man,jdbcType=VARCHAR}, #{item.manContact,jdbcType=VARCHAR},
      #{item.dept,jdbcType=VARCHAR}, #{item.hourKm,jdbcType=VARCHAR}, #{item.repairType,jdbcType=INTEGER},
      #{item.errorDescs,jdbcType=VARCHAR}, #{item.maintainType,jdbcType=INTEGER}, #{item.reservationDates,jdbcType=TIMESTAMP},
      #{item.orderNo,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

  <select id="selectListByOrderId" resultMap="BaseResultMap" parameterType="map">
    select
    <include refid="Base_Column_List" />
    from truck_order_detail
    where order_id = #{orderId}
  </select>

  <select id="getByOrderIdUserId" parameterType="map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from truck_order_detail
    where order_id = #{orderId}
    and user_id = #{userId}
  </select>

  <select id="selectOrderDetailByAdminId" resultMap="BaseResultMap" parameterType="map">
    select a.* from truck_order_detail a
     where order_id = #{orderId}
    and user_id = #{adminId}
  </select>
  
  <select id="selectCountDistributionOrderDetail" resultType="int" parameterType="int">
    select count(1) from truck_order_detail
    where order_detail_status in (30,20) and order_id = #{orderId}
  </select>

  <select id="selectByUserIdAndOrderDetailId" resultMap="BaseResultMap" parameterType="map">
    SELECT
    <include refid="Base_Column_List"/>
    from truck_order_detail
    where order_detail_id = #{orderDetailId}
    and user_id = #{userId}
  </select>

  <select id="selectCountUnCanceled" resultType="int" parameterType="int">
    select count(1) from truck_order_detail
    where order_detail_status != 0 and order_id = #{orderId}
  </select>
</mapper>