<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.truck.dao.OutDetailMapper" >
  <resultMap id="BaseResultMap" type="com.truck.pojo.OutDetail" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="out_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parts_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parts_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parts_en_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="unit" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sales_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="device_type" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="stock_position" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="out_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, out_id, parts_no, parts_name, parts_en_name, unit, sales_price, device_type, 
    stock_position, status, out_num, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iel_out_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iel_out_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.truck.pojo.OutDetail" >
    insert into iel_out_detail (id, out_id, parts_no, 
      parts_name, parts_en_name, unit, 
      sales_price, device_type, stock_position, 
      status, out_num, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{outId,jdbcType=INTEGER}, #{partsNo,jdbcType=VARCHAR}, 
      #{partsName,jdbcType=VARCHAR}, #{partsEnName,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{salesPrice,jdbcType=DECIMAL}, #{deviceType,jdbcType=VARCHAR}, #{stockPosition,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{outNum,jdbcType=INTEGER}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.truck.pojo.OutDetail" >
    insert into iel_out_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="outId != null" >
        out_id,
      </if>
      <if test="partsNo != null" >
        parts_no,
      </if>
      <if test="partsName != null" >
        parts_name,
      </if>
      <if test="partsEnName != null" >
        parts_en_name,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="salesPrice != null" >
        sales_price,
      </if>
      <if test="deviceType != null" >
        device_type,
      </if>
      <if test="stockPosition != null" >
        stock_position,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="outNum != null" >
        out_num,
      </if>
        create_time,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="outId != null" >
        #{outId,jdbcType=INTEGER},
      </if>
      <if test="partsNo != null" >
        #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsEnName != null" >
        #{partsEnName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="salesPrice != null" >
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="deviceType != null" >
        #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="stockPosition != null" >
        #{stockPosition,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="outNum != null" >
        #{outNum,jdbcType=INTEGER},
      </if>
      now(),
      now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.truck.pojo.OutDetail" >
    update iel_out_detail
    <set >
      <if test="outId != null" >
        out_id = #{outId,jdbcType=INTEGER},
      </if>
      <if test="partsNo != null" >
        parts_no = #{partsNo,jdbcType=VARCHAR},
      </if>
      <if test="partsName != null" >
        parts_name = #{partsName,jdbcType=VARCHAR},
      </if>
      <if test="partsEnName != null" >
        parts_en_name = #{partsEnName,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="salesPrice != null" >
        sales_price = #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="deviceType != null" >
        device_type = #{deviceType,jdbcType=VARCHAR},
      </if>
      <if test="stockPosition != null" >
        stock_position = #{stockPosition,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="outNum != null" >
        out_num = #{outNum,jdbcType=INTEGER},
      </if>
        update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.truck.pojo.OutDetail" >
    update iel_out_detail
    set out_id = #{outId,jdbcType=INTEGER},
      parts_no = #{partsNo,jdbcType=VARCHAR},
      parts_name = #{partsName,jdbcType=VARCHAR},
      parts_en_name = #{partsEnName,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      sales_price = #{salesPrice,jdbcType=DECIMAL},
      device_type = #{deviceType,jdbcType=VARCHAR},
      stock_position = #{stockPosition,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      out_num = #{outNum,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <insert id="batchInsert" parameterType="list" >
    insert into iel_out_detail (out_id, parts_no,
    parts_name, parts_en_name, unit,
    sales_price, device_type, stock_position,
    out_num, create_time,
    update_time)
    values
    <foreach collection="outDetailList" index="index" item="item" separator=",">
      (#{item.outId,jdbcType=INTEGER}, #{item.partsNo,jdbcType=VARCHAR},
      #{item.partsName,jdbcType=VARCHAR}, #{item.partsEnName,jdbcType=VARCHAR}, #{item.unit,jdbcType=VARCHAR},
      #{item.salesPrice,jdbcType=DECIMAL}, #{item.deviceType,jdbcType=VARCHAR}, #{item.stockPosition,jdbcType=INTEGER},
      #{item.outNum,jdbcType=INTEGER}, now(),
      now())
    </foreach>
  </insert>

  <select id="selectByOutId" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from iel_out_detail
    where out_id = #{outId}
    order by create_time desc
  </select>
</mapper>